

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

.menuplats{
    width: 100%;
    padding: 70px 0;
}
.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.menu h1{
    color: #fac031;
    margin-left: 15px;
    font-family: mv boli ;
}
.menu h1 span ::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}
.menu .menu_box{
    width:95%;
    margin : 0 auto;
}
.menu .menu_box .menu_card{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.menu .menu_box .menu_card .menu_image img{
    width: 3000px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
    
}
.menu .menu_box .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.menu{
    width: 100%;
    padding: 70px 0;
}
.menu {
    margin: 100px auto;
    position: relative;
    width: 70%;
    display: grid;
    grid-template-columns: repeat (auto-fit,minmax(170px,1fr));
    grid-gap: 20px;
}
.menu{
    background-color: #ffffff;
    width: 100px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding: 20px;



}
.heading{
    color:#fac031;
    width: 100%;
    margin-left: auto;
    font-family: mv boli ;
}
.menus span ::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fac031;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_box .menu_card .menu_image img{
    width: 3000px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(90 deg, #2ecc71 60%, #27ae60, 40.1);
    padding-bottom: 70px;

}
.container form{
    padding: 20px;
    with: 700px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container form.row{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.container form.row.col{
    flex: 1 1 250px;
}
.container form.row.col.title{
    font-size: 20px;
    color: black;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.container form.row.col.inputBox{
    margin: 15px 0;

}
.container form.row.col.inputBox span{
    margin-bottom: 5px;
    display: block;

}
.container form.row.col.inputBox input{
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;

}
.container form.row.col.inputBox input:focus{
    border: 1px solid #000;

}
.container form.row.col.flex{
    display: flex;
    gap: 15pxs;

}
.container form.row.col.flex.inputBox{
    
    margin-top: 5px;
    
}
.container form.row.col.flex.inputBox{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #0000);
}
.container form.submit-btn{
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background:  #ffffff;
    color: #ffffff;
    margin-top: 5px;
    cursor:pointer;
}

.panier.h2
{
    text-align: center;
}

div.grille
{
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1fr;
}






 
  
